<div class="global-form-stop-new">


<div class="form-new">
 <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-4">

      <%= link_to "Annuler", car_path(@car), class: "btn-link-annuler" %>
      <h5><strong>Nouveau passage au garage</h5>
      <div class="nomvoiturenewstop">
      <%=@car.full_name%></strong></h5>
      </div>


    <%= simple_form_for [@car, @stop] do |f| %>
      <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } }, label: "Date du passage", placeholder: "Entrez une date" %>
      <%= f.input :garage, label: "Nom du garage", placeholder: "Nom du garage" %>
      <%= f.input :cost, label: "Montant de la facture", placeholder: "Entrez le montant" %>
      <%= f.input :mileage, label: "Kilométrage au passage", placeholder: "Entrez le kilométrage" %>
      <div>Opérations d'entretiens réalisées</div>


    <ul class="plan-items-list-new">
      <% @car.plan_items.each do |item| %>
        <li class="plan-item-new">
          <div class="checkbox-container-new">
            <input type="checkbox" id="<%= item.id %>" name="item[<%= item.id %>]">
          </div>
          <div class="item-name">
            <%= item.name %>
          </div>
          <div class="price-container-new">
            <span class="price-label-new"> Prix: </span>
            <input type="number" name="itemprice[<%= item.id %>]">
          </div>
        </li>
      <% end %>
    </ul>


      <%= f.button :submit, class: "btn btn-success full-width-btn" %>
    <% end %>
    </div>
  </div>
</div>

</div>
