<h1>Stops#new</h1>
<p>Find me in app/views/stops/new.html.erb</p>

 <%= simple_form_for [@car, @stop] do |f| %>
      <%= f.input :date, label: "Date du passage", placeholder: "Entrez une date" %>
      <%= f.input :garage, label: "Nom du garage", placeholder: "Nom du garage" %>
      <%= f.input :cost, label: "Montant de la facture", placeholder: "Entrez le montant" %>
      <%= f.input :mileage, label: "Kilométrage au passage", placeholder: "Entrez le kilométrage" %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

<%= link_to "Annuler", cars_path %>
