<div class="global-form-stop-new">


<div class="form-new">
 <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-4">

      <%= link_to "Annuler", car_path(@car), class: "btn-link-annuler" %>
      <h5><strong>Nouveau passage au garage</h5>
      <div class="nomvoiturenewstop">
      <%=@car.full_name%></strong></h5>
      </div>


    <%= simple_form_for [@car, @stop] do |f| %>
      <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } }, label: "Date du passage", placeholder: "Entrez une date" %>
      <%= f.input :garage, label: "Nom du garage", placeholder: "Nom du garage" %>
      <%= f.input :cost, label: "Montant de la facture", placeholder: "Entrez le montant" %>
      <%= f.input :mileage, label: "Kilométrage au passage", placeholder: "Entrez le kilométrage" %>
      <div>Opérations d'entretiens réalisées</div>
      <ul>
      <% @items.each do |item|%>
          <%i = PlanItem.find(item.to_i)%>
          <%=i.name%>%
      <%end%>
      </ul>
      <%= f.hidden_field :items, value: @items.split(" ")%>
      <%= f.button :submit, class: "btn btn-success full-width-btn" %>
    <% end %>
    </div>
  </div>
</div>

</div>
