<div class="dashboard">

  <div class="logo">
    <%= image_tag "logo.png" %>
  </div>

  <div class="dashboard-grid">
    <div class="two-items-per-line">
      <%= link_to cars_path, class: "dashboard-item-1 yellow" do %>
        <%= image_tag "car.svg" %>Véhicules
      <% end %>
      <div class="dashboard-item white"><%= image_tag "fuel_pump.svg" %></i></div>
    </div>

    <div class="two-items-per-line">
      <div class="dashboard-item white"><%= image_tag "maintenance.svg" %></div>
      <div class="dashboard-item-1 red"><%= image_tag "alert.svg" %>Alertes</div>
    </div>

    <div class="two-items-per-line">
      <div class="dashboard-item-1 green"><%= image_tag "camera.svg" %>Photos</div>
      <div class="dashboard-item white"><%= image_tag "price_list.svg" %></div>
    </div>

    <div class="two-items-per-line">
      <div class="dashboard-item white"><%= image_tag "map.svg" %></div>
      <div class="dashboard-item-1 yellow"><%= image_tag "notes.svg" %>Notes</div>
    </div>
  </div>

  <div class="dashboard-navbar">
    <div class="navbar-item"><%= image_tag "home.svg" %></div>
    <%= link_to cars_path, class: 'navbar-item' do %>
      <%= image_tag "car.svg" %>
    <% end %>
    <div class="navbar-item"><%= image_tag "calendar.svg" %></div>
    <div class="navbar-item"><%= image_tag "options.svg" %></div>
  </div>

</div>
