

   <%if @car.plan_items.empty?%>
      <p>pas d'opération déclarée dans le plan d'entretien<p>
      <%= link_to "créer un plan d'entretien", call_maintenance_path(@car), class: "btn btn-primary" %>
  <%else%>
        
        

<div class="plan-items-alerts-container">


    <div class="plan-items-alerts-top">
          <div class="back-facture-arrow-btn">
             <%= link_to car_path@car do %>
             <%= image_tag "back_arrow.svg" %>
              <% end %>
       </div>
                         
                         
          <form action="<%= new_car_stop_path(@car) %>" method="get" data-turbo="false">
          <input type="submit" class="btn btn-alert custom-button" value="OK">


          <div class="entretiens">
          <h5><strong>Historique</h5>
          </div>
    </div>


    <p><strong>Sous 15 jours :</strong></p>
      <ul>
        <% @plan_items_alerts_urgent.each do |plan_item| %>
              <li>


                    <input type="checkbox" class="plan-items-alerts-card-tickbox" data-plan-item-selector-target="item" id="<%= plan_item.id %>" name="items[]" value="<%= plan_item.id %>">
                    <label for="<%= plan_item.id %>"> <strong><%= plan_item.name %></strong></label>

              </li>
      <% end %>
    <ul>

    <p><strong>Sous 30 jours :</strong></p>
     <ul>
       <% @plan_items_alerts_a_faire.each do |plan_item| %>
              <li>

                  <input type="checkbox" class="plan-items-alerts-card-tickbox" data-plan-item-selector-target="item" id="<%= plan_item.id %>" name="items[]" value="<%= plan_item.id %>">
                  <label for="<%= plan_item.id %>"> <strong><%= plan_item.name %></strong></label>
       
              </li>
      <% end %>
    </ul>

      <p><strong>Sous 60 jours :</strong></p>

    <ul>
      <% @plan_items_alerts_ok.each do |plan_item| %>
              <li>

                  <input type="checkbox" class="plan-items-alerts-card-tickbox" data-plan-item-selector-target="item" id="<%= plan_item.id %>" name="items[]" value="<%= plan_item.id %>">
                  <label for="<%= plan_item.id %>"> <strong><%= plan_item.name %></strong></label>


                </div>
              </li>
      <% end %>
    </ul>
  </form>
</div>
