<div class="plan-items-alerts-container">


    <div class="plan-items-alerts-top">
          <div class="back-facture-arrow-btn">
             <%= link_to car_path@car do %>
             <%= image_tag "back_arrow.svg" %>
              <% end %>
    </div>

    <div class="entretiens">
          <h5><strong>entretien à faire</h5>
          </div>

   <%if @car.plan_items.empty?%>
      <div class="nomaintenance">
        <p>pas d'opération déclarée dans le plan d'entretien</p>
        <div class="createbtn"><%= link_to "créer mon plan d'entretien", call_maintenance_path(@car), class: "btn btn-primary" %></div>
      </div>
  <%else%>

          <form action="<%= new_car_stop_path(@car) %>" method="get" data-turbo="false" data-controller="activate-ok-button">
          <input type="submit" class="btn btn-alert custom-button" data-activate-ok-button-target="button"  id="ok-btn" value="OK">


    </div>


    <p><strong>Sous 15 jours :</strong></p>
      <ul>
        <% @plan_items_alerts_urgent.each do |plan_item| %>
              <li>


                    <input type="checkbox" class="plan-items-alerts-card-tickbox" data-activate-ok-button-target="checkbox" data-action="click->activate-ok-button#activate" id="<%= plan_item.id %>" name="items[]" value="<%= plan_item.id %>">
                    <label for="<%= plan_item.id %>"> <strong><%= plan_item.name %></strong></label>

              </li>
      <% end %>
    <ul>

    <p><strong>Sous 45 jours :</strong></p>
     <ul>
       <% @plan_items_alerts_a_faire.each do |plan_item| %>
              <li>

                  <input type="checkbox" class="plan-items-alerts-card-tickbox" data-activate-ok-button-target="checkbox" data-activate-ok-button-action="change->activate-ok-button#activate"  id="<%= plan_item.id %>" name="items[]" value="<%= plan_item.id %>">
                  <label for="<%= plan_item.id %>"> <%= plan_item.name %></strong></label>

              </li>
      <% end %>
    </ul>

      <p><strong>Après 60 jours :</strong></p>

    <ul>
      <% @plan_items_alerts_ok.each do |plan_item| %>
              <li>

                  <input type="checkbox" class="plan-items-alerts-card-tickbox" data-activate-ok-button-target="checkbox" data-action="click->activate-ok-button#activate"  id="<%= plan_item.id %>" name="items[]" value="<%= plan_item.id %>">
                  <label for="<%= plan_item.id %>"> <strong><%= plan_item.name %></strong></label>



              </li>
      <% end %>
    </ul>
    <% end %>
  </form>
</div>
