<div class="form-newcar container ">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-4">


      <div class="horizontal-new-container">
      <%= link_to "Retour à ma voiture", car_path(@car), class: "btn-link-annuler" %>


      </div>

<div class="row container-card">
  <h2><strong><%=@plan_item.name%></strong></h2> pour <strong><%=@car.full_name%></strong></h2>

  <p>
  A faire tous les : <%=@plan_item.to_do_every_x_km%> km
  </p>

  <p>
  A faire tous les : <%=@plan_item.to_do_every_x_years%> ans
  </p>
</div>


<h2>Historique des passages</h2>

  <div class="row">
    <%if @item_by_stops.nil?%>
        <p>pas de passage déclaré</p>
      <%else%>

        <ul>
          <%sorted_items_by_stops = @item_by_stops.sort { |a,b| b.stop.date <=> a.stop.date} %>
          <% sorted_items_by_stops.each do |item|%>
            <li>
              <div class="row container-card">
                <div class="col-8 align-middle">
                  <strong>Le <%= Stop.find(item.stop_id).date %></strong> <br>
                  à <strong><%=Stop.find(item.stop_id).mileage%>km <br></strong>
                  chez <strong><%=Stop.find(item.stop_id).garage%></strong>
                </div>
                <div class="col-4 text-end">
                  <strong><%= item.item_cost %> €</strong> <br>
                  <%= link_to "Fiche passage", car_stop_path(@car, item.stop), class: "btn btn-primary" %>
                  <%# <img src="../../images/notes.svg" alt=""></a> %>
                </div>
                <div class="row">
                  original km deadline : <%=item.deadline_km_for_this_item%> km - next km : <%=item.calculated_next_km_milestone%>
                </div>
                <div class="row">
                  original date deadline : <%=item.deadline_date_for_this_item%> - next date : <%=item.calculated_next_date_milestone%>
                </div>
              </div>
              <%if item != sorted_items_by_stops.last%>
                <hr>
              <%end%>
            </li>
          <% end %>
        </ul>
      <%end%>
