<div class="form-newcar">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-4">


      <div class="horizontal-new-container">
      <%= link_to "Annuler", car_path(@car), class: "btn-link-annuler" %>
      <h6><strong>Mise à jour du kilométrage pour <%=@car.full_name%></strong></h6>
      </div>

      <%= simple_form_for @car do |f| %>
          <%= f.input :mileage, label: "Kilomètrage", placeholder: "Entrez le kilométrage du véhicule"%>


          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
