<div class="dashboard">

  <div class="back-arrow-btn">
    <%= link_to dashboard_path do %>
      <%= image_tag "back_arrow_white.svg" %>
    <% end %>
  </div>

  <div class="add-btn">
    <%= link_to new_car_path, data: { turbo: false } do %>
      <%= image_tag "add_white.svg" %>
    <% end %>
  </div>

  <h4 class="mes-vehicules">Mes véhicules</h4>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <ul class="car-list-index">
          <% @cars.each do |car| %>
            <li class="car-card-index">
              <div class="car-image">
                <% if car.photo.attached? %>
                  <%= link_to car_path(car) do %>
                    <%= cl_image_tag car.photo.key, height: 200, width: 300, crop: :fill, alt: "Image de #{car.make} #{car.model}" %>
                  <% end %>
                <% else %>
                  <p>No Image Available</p>
                <% end %>
              </div>

              <p id="make-model"><%= car.make %> <%= car.model %></p>

            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="dashboard-navbar">
    <%= link_to root_path, class: 'navbar-item' do %>
      <%= image_tag "home.svg" %>
    <% end %>
    <%= link_to cars_path, class: 'navbar-item' do %>
      <%= image_tag "car.svg" %>
    <% end %>
    <div class="navbar-item"><%= image_tag "calendar.svg" %></div>
    <div class="navbar-item"><%= image_tag "options.svg" %></div>
  </div>

</div>
