<h1>this is cars index</h1>

<ul>
  <% @cars.each do |car| %>
    <li>

      <%=car.make%> - <%=car.model%> - <%=car.mileage%> <%=link_to "fiche voiture", car_path(car)%>

      <% if car.photo.attached? %>
        <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <p>No Image Available</p>
        <% end %>

    </li>
  <% end %>
</ul>

<%= link_to "Déclarer une nouvelle voiture", new_car_path %>

<%= image_tag "price_list.svg" %>
<%= image_tag "chat_assistance.svg" %>
<%= image_tag "notes.svg" %>
<%= image_tag "calendar.svg" %>
<%= image_tag "alert.svg" %>
<%= image_tag "camera.svg" %>
<%= image_tag "map.svg" %>
<%= image_tag "home.svg" %>
<%= image_tag "maintenance.svg" %>
<%= image_tag "options.svg" %>
<%= image_tag "add.svg" %>
<%= image_tag "car.svg" %>
<%= image_tag "back_arrow.svg" %>
