
<div class="form-newcar">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-4">


      <div class="horizontal-new-container">
      <%= link_to "Annuler", cars_path, class: "btn-link-annuler" %>
        <h6><strong>Nouveau véhicule</strong></h6>
       <%= simple_form_for @car do |f| %>
      <%= f.button :submit, "Enregistrer", class: "btn-link-envoyer", style: "background: none; border: none; color: inherit; cursor: pointer;" %>
      </div>



<%# Si possible ajouter à l'envoi du formulaire une alerte comem quoi ça a été bie envoyé  %>
      <div class="add-photo-container">
      <div data-controller="upload">
        <%= f.input :photo, as: :file, input_html: { data: { upload_target: "input" }, style: "display: none;" }, label: false %>
        <%= image_tag "camera.svg", data: { action: "click->upload#selectFile" }, style: "cursor: pointer;" %>
      </div>
      </div>

      <%= f.input :make, label: "Marque", placeholder: "Entrez une marque" %>
      <%= f.input :model, label: "Modèle", placeholder: "Entrez un modèle" %>
      <%= f.input :engine, label: "Cylindrée", placeholder: "Entrez la cylindrée en litres" %>
      <%= f.input :fuel, label: "Carburant", placeholder: "Entrez le carburant" %>
      <%= f.input :horsepower, label: "Puissance(chevaux)", placeholder: "Entrez la puissance de votre moteur" %>
      <%= f.input :mileage, label: "Kilomètrage", placeholder: "Entrez le kilométrage du véhicule" %>
      <%= f.input :date_of_first_purchase, as: :string, input_html: { data: { controller: "datepicker" } }, label: "Date de première mise en circulation", placeholder: "Entrez une date" %>
      <%= f.input :control_date, as: :string, input_html: { data: { controller: "datepicker" } }, label: "Date du dernier contrôle technique", placeholder: "Entrez une date" %>
      <%= f.input :last_follow_up_km, label: "l'entretien a été suivi jusque (km)", placeholder: "Entrez un kilométrage" %>
      <%= f.input :last_follow_up_date, as: :string, input_html: { data: { controller: "datepicker" } }, label: "l'entretien a été suivi jusque (date)", placeholder: "Entrez une date" %>

      <%= f.input :estimated_mileage_per_year, label: "KM par an", placeholder: "Entrez un kilométrage estimé par an" %>

    <% end %>

</div>
  </div>
    </div>
