<h1>this is new car form</h1>

 <%= simple_form_for @car do |f| %>
      <%= f.input :make, label: "Marque", placeholder: "Entrez une marque" %>
      <%= f.input :model, label: "Modèle", placeholder: "Entrez un modèle" %>
      <%= f.input :engine, label: "Cylindrée", placeholder: "Entrez la cylindrée en litres" %>
      <%= f.input :fuel, label: "Carburant", placeholder: "Entrez le carburant" %>
      <%= f.input :horsepower, label: "Puissance(chevaux)", placeholder: "Entrez la puissance de votre moteur" %>
      <%= f.input :mileage, label: "Kilomètrage", placeholder: "Entrez le kilométrage du véhicule" %>
      <%= f.input :date_of_first_purchase, as: :string, input_html: { data: { controller: "datepicker" } }, label: "Date de première mise en circulation", placeholder: "Entrez une date" %>
      <%= f.input :estimated_mileage_per_year, label: "KM par an", placeholder: "Entrez un kilométrage estimé par an" %>
      <%= f.input :maintenance_status, label: "Etat de l'entretien", placeholder: "A jour / a rependre / NSP" %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

<%= link_to "Annuler", cars_path %>
