
<div class="dashboard">
  <div class="back-arrow-btn">
    <%= link_to cars_path do %>
      <%= image_tag "back_arrow_white.svg" %>
    <% end %>
  </div>

  <h4 class="car-title"><%=@car.full_name%></h4>

  <div class="car-image">
    <%= cl_image_tag @car.photo.key, height: 200, width: 300, crop: :fill, alt: "Image de #{@car.make} #{@car.model}" %>
  </div>

  <div class="buttons-grid">
    <div class="two-items-per-line">
      <%= link_to cars_path, class: "dashboard-item-1 yellow" do %>
        <%= image_tag "car.svg" %>Infos
      <% end %>
      <div class="dashboard-item white"><%= image_tag "documents.svg" %></i></div>

    </div>

    <div class="two-items-per-line">
      <div class="dashboard-item white"><%= image_tag "camera.svg" %></div>
      <%= link_to cars_path, class: "dashboard-item-1 red" do %>
        <%= image_tag "maintenance.svg" %>Entretien
      <% end %>
    </div>


    <div class="two-items-per-line">
      <%= link_to cars_path, class: "dashboard-item-1 green" do %>
        <%= image_tag "history.svg" %>Historique
      <% end %>
      <div class="dashboard-item white"><%= image_tag "price_list.svg" %></div>

    </div>
  </div>

  <div class="dashboard-navbar">
    <%= link_to root_path, class: 'navbar-item' do %>
      <%= image_tag "home.svg" %>
    <% end %>
    <%= link_to cars_path, class: 'navbar-item' do %>
      <%= image_tag "car.svg" %>
    <% end %>
    <div class="navbar-item"><%= image_tag "calendar.svg" %></div>
    <div class="navbar-item"><%= image_tag "options.svg" %></div>
  </div>

</div>
